body{
	font-family: 'Comic Sans MS', 20px;
	color: #003366;
}

h1 {
	font-size: 1.3em;
	text-align: center;
	font-family: 'Chewy';
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	font-family: 'Chewy';
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}